
.detalhesEvento{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.formularioConvidado{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

.tabelaConvidado{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tabelaEvento{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.formularioEvento{
	box-shadow: 0px 0px 5px red;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
}